@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

Black: 218, 52%, 12%;
White: 45, 29%, 97%;
Light Blue: 218, 52%, 56%;
Medium Blue: 218, 44%, 42%;
Dark Blue: 218, 49%, 28%;
Gray: 219, 6%, 55%;

*/
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(260deg,#547FC9,#F2F4F8,#3C5F9A);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
  position: relative;
  z-index: 1;
}

body::after {
  inset: 0;
  position: absolute;
  content: '';
  z-index: 2;
  background: #F2F4F8;
  opacity: 0.5;
  backdrop-filter: 10px;
  -webkit-backdrop-filter: 10px;
}

body * {
  position: relative;
  z-index: 5;
}

.dark body {
  background: linear-gradient(260deg,#3c5f9a,#050910,#243e6a);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

.dark body::after {
  inset: 0;
  position: absolute;
  content: '';
  z-index: 2;
  background: #050910;
  opacity: 0.5;
  backdrop-filter: 10px;
  -webkit-backdrop-filter: 10px;
}

@layer base {
  :root {
    --background: 220, 30%, 96%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 218, 52%, 52%;
    --primary-foreground: 0 0% 98%;
    --secondary: 218, 49%, 28%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 218, 44%, 42%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 218, 52%, 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 218, 49%, 28%;
    --primary-foreground: 0 0% 9%;
    --secondary: 218, 52%, 52%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 218, 44%, 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
