@import "../../app/palette.scss";

.preview__heading {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $padding-mobile;

    @media (min-width: 600px) {
        padding: 0 $padding;
    }
}