@import "../../../app/palette.scss";

.preview__card {
    padding: $inner-padding;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    grid-column: auto / span 12;
    position: relative;

    * {
        position: relative;
        z-index: 5;
    }

    @media (min-width: 600px) {
        grid-column: auto / span 6;
    }

    @media (min-width: 750px) {
        grid-column: auto / span 4;
    }

    .card__description {
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        color: $black;
        transition: all 0.2s ease;

        @media (min-width: 600px) {
            opacity: 0;
        }
    }

    &::after {
        inset: 0;
        position: absolute;
        content: '';
        background: transparentize($white, 0.4);
        z-index: 1;
    }

    &::before {
        inset: 0;
        position: absolute;
        content: '';
        background: transparentize($white, 0.4);
        z-index: 2;
        opacity: 0;
        transition: all 0.2s ease;
    }

    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    @media (min-width: 600px) {
        &::after {
            background: linear-gradient(to bottom, transparentize($white, 0.4), transparent);
        }

        &:hover {
            .card__description {
                opacity: 1;
            }

            &::before {
                opacity: 1;
            }
        }
    }

    .card__headline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;

        h2, p {
            grid-column: auto / span 2;
            color: $black;

            @media (min-width: 600px) {
                grid-column: auto / span 1;
            }
        }

        @media (min-width: 600px) {
            p:first-of-type {
                text-align: right;
            }
        }
    }
}

.small__card {
    grid-row: span 8;
}

.medium__card {
    grid-row: span 12;
}

.large__card {
    grid-row: span 16;
}

@media (prefers-color-scheme: dark) {
    .preview__card {
        .card__description {
            color: $white;
        }
    
        &::after {
            background: transparentize($black, 0.4);
        }
    
        &::before {
            background: transparentize($black, 0.4);
        }
    
        @media (min-width: 600px) {
            &::after {
                background: linear-gradient(to bottom, transparentize($black, 0.4), transparent);
            }
        }
    
        .card__headline {
            h2, p {
                color: $white;
            }
        }
    }
}